RFC links on http://perldoc.perl.org/Encode/MIME/Header.html are broken

For Email::MIME::Header documentation, in Section **SEE ALSO** are broken links to RFC documents RFC 822, RFC 2047, RFC 2231.

E.g. RFC 822 points to URL:
`http://search.cpan.org/perldoc/https:#%2ftools.ietf.org%2fhtml%2frfc822`
instead of `https://tools.ietf.org/html/rfc822`. Same for other RFC links.

On the other hand, on metacpan.org, those links are working, see:
https://metacpan.org/pod/Encode::MIME::Header#SEE-ALSO